body {
    margin: 20px;   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.avatar {
    width: 200px;
    transition: background-color 0.3 ease;
    background-color: transparent;
    border-radius: 5px;
}

.avatar:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #588157;
    color: #A3B18A;
    border-bottom: 6px solid #344E41;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #A3B18A;
}


/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯 
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

